<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Document</title>
    </head>

    <body>
        <!-- search bar two radio buttons to change from showing only videos to showing only channels based on what was searched -->
        <form action="{{ url_for('results') }}" method="POST" class="search-container">
            <input type='text' name='search' id="search" placeholder="Pesquisar" required></input>

            <button class='submit-btn' type="submit">
                <span class="submit-btn-icon"><ion-icon name="search-outline"></ion-icon></span>
            </button>
            <br>
            <input type="radio" id="channel-btn" name='change-btn' value="channel-btn">
            <label for="channel-btn" class="default-text change-to-channel-btn">Canais</label>
            
            <input type='radio' id="vidoe-btn" name="change-btn" value="vidoe-btn" checked>
            <label for="vidoe-btn" class="default-text change-to-video-btn">Videos</label>
        </form>

        <br>

        <div class="ch-page-header">

            <div class="ch-page-avatar">
                <img src="{{ ch_thumbnail_url }}"
                class="big-ch-avatar"
                alt="{{ channel_title }} Channel Logo"
                loading="lazy">
            </div>

            <div class="default-text ch-page-header-info">
                
                <div class="default-text ch-title">{{ channel_title }}</div>
                <div class="default-text ch-custom-url">{{ ch_custom_url }}</div>
                <div class="default-text sub-count">{{ ch_subscriber_count }} inscritos</div>
            
            </div>
        </div>

        <div class="ch-video-grid-container">
            {% for row in ch_video_matrix %}
                <div class="ch-video-grid">

                    <div class="video-thumb-container">
                        <a href="http://www.youtube.com/embed/{{ row[0] }}">
                            <img class='video-thumbnail'
                            src="{{ row[3] }}"
                            title="{{ row[1] }}"
                            alt="{{ row[1] }}"
                            loading="lazy">
                        </a>
                        <div class="video-title-date">
                            <!--channel videos title, date published, and view count-->
                            <div class="default-text in-channel-video-title">{{ row[1] }}</div>
                            <div class="default-text in-channel-video-date">{{ row[2] }}</div>
                            <div class="default-text in-channel-view-count">{{ row[4] }} visualizações</div>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
